.Menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.Menu:hover{
    background-color: transparent;
    color: #000;
}
.Menu:hover.Menu img{
    transition: 400ms;
    transform: scale(1.1);
}

@media only screen and (min-width: 1200px) {
    .Menu{
        justify-content: start;
    }
}
@media only screen and (min-width: 768px) {
    .Menu:hover{
        background-color: #e4e6eb;
    }
}
