.Menu{
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.Menu:hover{
    background-color: #e4e6eb;
    color: #000;
}
.Menu:hover.Menu img{
    transition: 400ms;
    transform: scale(1.1);
}

